vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_textextensions:SW|.txt.
vti_webservertype:SR|diskweb
vti_defaultlanguage:SR|tr
vti_missingoverlays:VX|
vti_timecreated:TR|21 Dec 2020 16:11:06 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_htmlextensions:SW|.htm.html.asp.aspx.shtml.stm.htt.htx.alx.asa.hta.htc.jsp.cfm.odc.phtml.php.php2.php3.php4.php5.dwt.
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|6.0.2.5516
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Geri
vti_navbuttonnextlabel:SR|İleri
vti_textindexood:IR|0
vti_approvallevels:VR|Onaylandı Reddedildi Bekleyen
vti_showhiddenpages:IR|1
vti_navbuttonhomelabel:SR|Giriş Sayfası
vti_themedefault:SR|sky 1011
vti_dependenciesood:IR|0
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|Seyahat Gider\\ Raporu İş Yarışma Amaçlar/Hedefler Fikirler Çeşitlilik Bekleme VIP İşletiliyor Planlama Zamanlama
vti_missingoverlaylabels:VX|
vti_approvalapproved:SR|Onaylandı
vti_approvaldenied:SR|Reddedildi
vti_defaultcharset:SR|windows-1254
vti_navbuttonuplabel:SR|Üst
